1. What exactly is []?
2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)
Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.
3. What is the value of spam[int(int('3' * 2) / 11)]?
4. What is the value of spam[-1]?
5. What is the value of spam[:2]?
Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.
6. What is the value of bacon.index('cat')?
7. How does bacon.append(99) change the look of the list value in bacon?
8. How does bacon.remove('cat') change the look of the list in bacon?
9. What are the list concatenation and list replication operators?
10. What is difference between the list methods append() and insert()?
11. What are the two methods for removing items from a list?
12. Describe how list values and string values are identical.
13. What's the difference between tuples and lists?
14. How do you type a tuple value that only contains the integer 42?
15. How do you get a list value's tuple form? How do you get a tuple value's list form?
16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
17. How do you distinguish between copy.copy() and copy.deepcopy()?

1. What exactly is []?
Ans- it is an empty list, which contains no elements

2.Assigning 'hello' at third position(index '2') in list stored in variable spam 
Ans- spam=[2, 4, 6, 8, 10]

using insert command 
spam.insert(2,'hello')

In [1]:
spam=[2, 4, 6, 8, 10]
spam.insert(2,'hello')

In [2]:
spam

[2, 4, 'hello', 6, 8, 10]

spam=  ['a', 'b', 'c', 'd']
3. What is the value of spam[int(int('3' * 2) / 11)]?
Ans- we will definitely get 'd' as answer which is at index position 3

In [3]:
spam= ['a', 'b', 'c', 'd']
spam[int(int('3' * 2) / 11)]

'd'

4. What is the value of spam[-1]?
5. What is the value of spam[2]?

Ans-4 'd'
Ans-5  'c'

bacon=  [3.14, 'cat,' 11, 'cat', True]

6. What is the value of bacon.index('cat')?
Ans- the value will be - 1 as this will give the value which is first

In [6]:
bacon=  [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1

bacon=  [3.14, 'cat', 11, 'cat', True]

7. How does bacon.append(99) change the look of the list value in bacon
Ans- appending 99 inside list will add 99 at the last of the list at index position 5 and the final lisy will look like
bacon=  [3.14, 'cat,' 11, 'cat', True,99]

In [10]:
bacon=  [3.14, 'cat', 11, 'cat', True]
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

Now the list bacon look like bacon=  [3.14, 'cat', 11, 'cat', True,99]

8. How does bacon.remove('cat') change the look of the list in bacon?
Ans- this will remove the very first 'cat'(Remove first occurrence of value) fron the list and the final list will look like 
bacon=  [3.14, 11, 'cat', True,99]

In [13]:
bacon=  [3.14, 'cat', 11, 'cat', True,99]
bacon.remove('cat')

In [14]:
bacon

[3.14, 11, 'cat', True, 99]

9. What are the list concatenation and list replication operators?
Ans- + -- is the list concatination operator 
* -- is the list replication operator

In [76]:
# list concatination 
l1=[1,2,3]
l2=[4,5,6]

l1+l2

[1, 2, 3, 4, 5, 6]

In [77]:
# list replication operation
l1=[1,2,3,4]
l1*2

[1, 2, 3, 4, 1, 2, 3, 4]

10. What is difference between the list methods append() and insert()?
Ans-- using list operation append(), the appended item will be added at the last of the list and this operation takes only one
single argument which may be integer, string or any other.

whereas the second list opearation insert(), takes two argument which are 1) the index value at which the item is to added
2) the item which is to be added 

ex- l=[1,2,3]
l.append('sachin')
l.insert(0,'sachin')

In [16]:
l=[1,2,3]
l.append('sachin')

In [17]:
l

[1, 2, 3, 'sachin']

In [18]:
l.insert(0,'sachin')

In [19]:
l

['sachin', 1, 2, 3, 'sachin']

11. What are the two methods for removing items from a list?
Ans- the methods are 

l=[1,2,3]

1)l.remove(1) --- this takes the argument as the item itself 
2) l.pop(2)  ----- this takes the argument as index of the value, here the 2 is the index value and this will delete 3 from list

In [21]:
l=[1,2,3,]
l.remove(1)

In [23]:
l

[2, 3]

In [27]:
l=[1,2,3,4,5]
l.pop(2)

3

In [28]:
l

[1, 2, 4, 5]

12. Describe how list values and string values are identical.
Ans-- the list values and the string values are identical in a way-- both in list and string the values are saved by giving 
indexes to them also both in list and string the values can be called by their indexes 

both list and string can be passed into function len() for calculating the length
can do slicing in both, both supports concatination and replication operations 


l=[1,2,3,4,5,6,'sachin']
l.index('sachin')

a='sachin'
a[0]

In [31]:
l=[1,2,3,4,5,6]
l.index(1)

0

In [35]:
a='sachin'
a[0]

's'

13. What's the difference between tuples and lists?
Ans-- list and typle are two different data types, list is mutable whereas tuple is immutable means any item of list can be 
replaced by new item (list support item assignment) on the other hand tuple does not support item assignment means one's anything is
inerted inside tuple it cannot be replaced 

Also list has variable length and typle has fixed length 

l=[1,2,4,5,6]   ---- list items are always put inside square brackets 
t=(1,2,3)  ---- tuple items are always put inside these () parentheses

14. How do you type a tuple value that only contains the integer 42?
Ans-- first create a list than convert that list into tuple as 
l=[42]
t=tuple(l) 

'''or''' 
t=(42,)--- now this is a tuple with only one element inside it which is integer

In [54]:
l=[42]
t=tuple(l)

In [55]:
t

(42,)

In [56]:
type(t)

tuple

In [57]:
t=(42,)

In [58]:
t

(42,)

In [59]:
type(t)

tuple

15. How do you get a list value's tuple form? How do you get a tuple value's list form?
Ans-  l=['sachin','thakur',123]    this is a list 
t=('dangi','rajput',888) this is a tuple 

converting list into tuple as--
a=tuple(l)

converting tuple into list as--
b=list(t)

In [60]:
l=['sachin','thakur',123] 
a=tuple(l)

In [61]:
a

('sachin', 'thakur', 123)

In [62]:
type(a)

tuple

In [63]:
t=('dangi','rajput',888)
b=list(t)

In [64]:
b

['dangi', 'rajput', 888]

In [65]:
type(b)

list

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
Ans--- They contain references to list values

17. How do you distinguish between copy.copy() and copy.deepcopy()?
Ans-- copy.copy() --creates shallow copy of any data type say list, and if any further changes in list are done then those changes will
also be replected in the shallow copy 

whereas copy.deepcopy() --  creates a deep copy of any data type say list, any if any further changes are done in list then those will
not reflect in the deep copy