1. What are escape characters, and how do you use them?
2. What do the escape characters n and t stand for?
3. What is the way to include backslash characters in a string?
4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?
5. How do you write a string of newlines if you don't want to use the n character?
6. What are the values of the given expressions?
'Hello, world!'[1]
'Hello, world!'[0:5]
'Hello, world!'[:5]
'Hello, world!'[3:]

7. What are the values of the following expressions?
'Hello'.upper()
'Hello'.upper().isupper()
'Hello'.upper().lower()
8. What are the values of the following expressions?
'Remember, remember, the fifth of July.'.split()
'-'.join('There can only one.'.split())
9. What are the methods for right-justifying, left-justifying, and centering a string?
10. What is the best way to remove whitespace characters from the start or end?

1. What are escape characters, and how do you use them?
Ans-- escape characters are those characters which allow us to use some characters inside string which normally is not allowed to 
use inside string like

ex- there are four such characters -- 1)\'  2)\''  3) \n   and   4)  \t
1) If you are using single quotes to print out a string and you have a single quote in the string, then you would have either 1 of 2 choices: you can use double quotes to enclose the string or you can use the escape character within the string enclosed by single quotes to have a single quote appear in the string.
2)If you are using double quotes to print out a string and you have a double quote within the string, then you could either use single quotes to enclose the string or use the double quote escape character within the string.
3)If you want a newline (line break) to appear within a string, then you would just place a newline escape character (\n) where you would a newline (line break).
4)If you need a tab (8 spaces) to appear in a string, then you would put a tab (\t) escape character at the beginning of the string.

In [4]:
print('this is sachin\'s house')
print("He told me, \"Go home\", which I did")
print('this is \tsachin')
print('my\nname\nis\nsachin')

this is sachin's house
He told me, "Go home", which I did
this is 	sachin
my
name
is
sachin

2. What do the escape characters n and t stand for?
Ans--n --- If you want a newline (line break) to appear within a string, then you would just place a newline escape character (\n) where you would a newline (line break).
t-- If you need a tab (8 spaces) to appear in a string, then you would put a tab (\t) escape character at the beginning of the string.

3. What is the way to include backslash characters in a string?
Ans-- The backslash ("\") character is a special escape character used to indicate other special characters such as new lines (\n), tabs (\t), or quotation marks (\").
if we want to use backslash chracter in the string then we either have to use double backslash or another special character like 

a='\\sachin'
b=@'\sachin'

In [9]:
a='\\sachin'
b='@\sachin'

In [10]:
a

'\\sachin'

In [11]:
b

'@\\sachin'

4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?
Ans-- because if i want to use single quote inside a string than i can do this in two ways either by enclosing string inside double quotes or 
triple quotes or by using \' and enclosing string inside single quotes 

ex- print('this is sachin\'s house')
print('''this is sachin's house''')

In [13]:
print('this is sachin\'s house')
print('''this is sachin's house''')

this is sachin's house
this is sachin's house

5. How do you write a string of newlines if you don't want to use the n character?
Ans-- print('my name is sachin',end='\n')
print('i m a student in iit delhi')

In [19]:
print('my name is sachin',end='\n')
print('i m a student in iit delhi')

my name is sachin
i m a student in iit delhi

6. What are the values of the given expressions?

'Hello, world!'[1]
Ans-- this will give -- 'e' 

'Hello, world!'[:5]
Ans-- this will give-- 'Hello'

'Hello, world!'[3:]
Ans-- this will give --'lo, world!'

'Hello, world!'[0:5]
Ans-- 'Hello'

In [16]:
'Hello, world!'[1]

'e'

In [17]:
'Hello, world!'[:5]

'Hello'

In [18]:
'Hello, world!'[3:]

'lo, world!'

In [19]:
'Hello, world!'[0:5]

'Hello'

7. What are the values of the following expressions?

'Hello'.upper()
Ans--- 'HELLO'

'Hello'.upper().isupper()
Ans--- True

'Hello'.upper().lower()
Ans--- 'hello'

In [20]:
'Hello'.upper()

'HELLO'

In [22]:
'Hello'.upper().isupper()

True

In [23]:
'Hello'.upper().lower()

'hello'

8. What are the values of the following expressions?
'Remember, remember, the fifth of July.'.split()
'-'.join('There can only one.'.split())

'Remember, remember, the fifth of July.'.split()
Ans-- each of the word will become seperate element inside list as 

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

'-'.join('There can only one.'.split())

Ans--- 'There-can-only-one.'

In [24]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [25]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

9. What are the methods for right-justifying, left-justifying, and centering a string?
Ans--- for left justify any string we can use python function as 
str = "my name is sachin";
print (str.ljust(50, '^'))

for right justify any string we can use 
# rjust() function in python 
 
str = "my name is sachin";
print str.rjust(50, '^')

for centering any string 
# center() function in python 
 
str = "my name is sachin";
print(str.center(50, '^'))

In [49]:
# ljust() function in python 
 
str = "my name is sachin";
print (str.ljust(50, '^'))

my name is sachin^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

In [47]:
# rjust() function in python 
 
str = "my name is sachin";
print( str.rjust(50, '^'))

^^^^^^^^^^^^^^^^^^^^^^^^Salute to the mother earth

In [50]:
# center() function in python 
 
str = "my name is sachin";
print(str.center(50, '^'))

^^^^^^^^^^^^^^^^my name is sachin^^^^^^^^^^^^^^^^^

10. What is the best way to remove whitespace characters from the start or end?
Ans-- removing spaces from the start as
a='    my name is sachin'
a.lstrip()

Ans- removing spaces from the end of any string 
b='my name is sachin   '
b.rstrip()

Ans-- removing spaces from both sides of the string as 
c='   my name is sachin   '
c.strip()

In [4]:
a='    my name is sachin'
a.lstrip()

'my name is sachin'

In [5]:
b='my name is sachin   '
b.rstrip()

'my name is sachin'

In [6]:
c='   my name is sachin   '
c.strip()

'my name is sachin'