1.	Write a Python Program to Find the Factorial of a Number?
2.	Write a Python Program to Display the multiplication Table?
3.	Write a Python Program to Print the Fibonacci sequence?
4.	Write a Python Program to Check Armstrong Number?
5.	Write a Python Program to Find Armstrong Number in an Interval?
6.	Write a Python Program to Find the Sum of Natural Numbers?

Ans--(1)

In [8]:
# for finding the factorial of any number 

def factorial(n):
    if n>1:
        a=1
        for i in range(2,n+1):
            a=a*i
        return 'factorial is:',a
    elif n==0:
        print('factorial of 0 is:',1)
    elif n==1:
        print('factorial of 1 is:',1)
    else:
        print('factorial does not exist')

In [9]:
factorial(4)

('factorial is:', 24)

In [10]:
factorial(1)

factorial of 1 is: 1

In [11]:
factorial(5)

('factorial is:', 120)

In [12]:
factorial(-1)

factorial does not exist

Ans--(2)

In [17]:
# for displaying the multiplication table of any number as

def table(n):
    for i in range(1,11):
        a=n*i
        print('{}*{}='.format(n,i),a)
        
# calling the function as
n=int(input('Table of:'))
table(n)
print('Table for given number is given above')

Table of:5
5*1= 5
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45
5*10= 50
Table for given number is given above

Ans--(6)
program for finding the sum of natural numbers

In [20]:
# for finding the sum of natural numbers till given numbers as

def natural(n):
    print('sum of natural numbers is:',n*(n+1)//2)

# calling the function as
a=int(input('give any natural number:'))
natural(a)

give any natural number:4
sum of natural numbers is: 10

Ans--(4) program for finding the armstrong number

In [34]:
# for finding the armstrong number 

def armstrong(n):
    if int(n)==(int(n[0])**3)+(int(n[1])**3)+(int(n[2])**3):
        print('{} is a armstrong number'.format(n))
    else:
        print('{} is not a armstrong number'.format(n))
    
# calling function as
n=input()
armstrong(n)

# just give any 3 digit number to check it is a armstrong number or not 
# as give below '153' is a armstrong number

153
153 is a armstrong number

Ans--(5)  for finding armstrong numbers in given range

In [38]:
# for armstrong numbers in given range

l=[]
def arm_num(a,b):
    for i in range(int(a),int(b)+1):
        b=str(i)
        if int(b)==(int(b[0])**3)+(int(b[1])**3)+(int(b[2])**3):
            l.append(int(b))
    print('list of armstrong numbers:',l)
    
    
# calling function as
a=input('give lower limit:')
b=input('give upper limit:')
arm_num(a,b)

give lower limit:100
give upper limit:1000
list of armstrong numbers: [153, 370, 371, 407]

Ans-(3) program for getting the Fibonacci series

In [41]:
# for getting the Fibonacci series 

l=[0,1]
def Fibonacci_series(n):    # 'n' here is the number of terms of series we want 
    term=3
    while term<n:
        a=l[term-2]+l[term-3]
        l.append(a)
        term=term+1
    print('list of all Fibonacci numbers till {} term:'.format(n),l)
        
# calling function as
n=int(input('number of terms:'))
Fibonacci_series(n)

number of terms:10
list of all Fibonacci numbers till 10 term: [0, 1, 1, 2, 3, 5, 8, 13, 21]