In [1]:
# first we will see how to make a connection b/w python and server

In [2]:
# for making connection first we have to import --  mysql connector like

In [11]:
import mysql.connector as connection     # for connection b/w python & server every time we have to import-mysql.connector

In [6]:
conn=connection.connect(host='localhost',user='root',passwd='mysql',use_pure=True) # here we are making connection 
#  we only have to change host name by url of server location and user name and password

In [7]:
cur=conn.cursor()  # creating a cursor for giving results of all databases when available databases names are fetched in sequence

In [8]:
cur.execute('show databases')

In [9]:
res=cur.fetchall()   # fetching name of all available databases in list which are available on respective server

In [10]:
res    #

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [12]:
#  now we will talk about creating a new database so for that-- step1) in place of 'show databases' just write 'create database nameofdatabase'
# like-- 'create database sachin' 
#  and we are creating new database so there is no point in fetching the databases names so remove or comment out that line of code

In [13]:
cur.execute('create database sachin')  # after execution you can see in sql workbench that database with name 'sachin' is created
#  just type show databases in sql workbench and execute

In [29]:
#  creating a table inside my database 'sachin'
# for making a table inisde any database out of available databases on any server i has to insert one more parameter 'database'
#  inside line which is used for making connection b/w python and server 
mydb=connection.connect(host='localhost',database='sachin',user='root',passwd='mysql')

In [30]:
#  there is one command to check connection is developed or not 
mydb.is_connected()

True

In [31]:
#  giving true means connection is developed

In [38]:
cur=mydb.cursor()
cur.execute('create table test(x1 INT(5), x2 VARCHAR(20), x3 DATE)')
mydb.close()

ProgrammingError: 1050 (42S01): Table 'test' already exists

In [47]:
#  table is created inside my database now we have to insert data inside my table 
mydb=connection.connect(host='localhost',database='sachin',user='root',passwd='mysql')
cur=mydb.cursor()
cur.execute('''insert into test values(1234,'dangi','2022-05-20')''')      # date formate should be yyyy-mm-dd
mydb.commit()   # with this we are committing the data(given in above line) for table test inside sachin database

In [42]:
#  we can add data inside table in two ways--1) adding data in single row for each column one by one 
#  2) adding data in all selected rows in one go( in each column )

In [49]:
# adding data one by one in rows but every time in each column like
cur.execute('''insert into test values(1234,'dangi','2022-05-20')''')  
cur.execute('''insert into test values(5678,'thakur','2022-05-20')''')  
cur.execute('''insert into test values(9876,'rajput','2022-05-20')''')  
cur.execute('''insert into test values(0987,'singh','2022-05-20')''')  
cur.execute('''insert into test values(6554,'hindu','2022-05-20')''')  
cur.execute('''insert into test values(1919,'shatreya','2022-05-20')''')  
cur.execute('''insert into test values(0101,'hindu','2022-05-20')''')  
mydb.commit()    # this is imp after giving data in database like we do in case of file where we have to close a file after writing inside file than only we will we ablw to read all data after opening the file

In [50]:
# after creating my own database with name 'sachin' and inserting data inside it we can fetch all data like 
# before fetching all data re-run the code line which is for setting the connection b/w python and server so that cursor comes to start of table

In [61]:
cur=mydb.cursor()      #creating the cursor again  
cur.execute('select * from test')    # this is for executing the process  for fetching the data from table   
cur.fetchall()    # now finaly fetching data from table

[(1234, 'dangi', datetime.date(2022, 5, 19)),
 (1234, 'dangi', datetime.date(2022, 5, 19)),
 (1234, 'dangi', datetime.date(2022, 5, 20)),
 (1234, 'dangi', datetime.date(2022, 5, 20)),
 (5678, 'thakur', datetime.date(2022, 5, 20)),
 (9876, 'rajput', datetime.date(2022, 5, 20)),
 (987, 'singh', datetime.date(2022, 5, 20)),
 (6554, 'hindu', datetime.date(2022, 5, 20)),
 (1919, 'shatreya', datetime.date(2022, 5, 20)),
 (101, 'hindu', datetime.date(2022, 5, 20))]

In [65]:
#  i can also use for loop for printing data of every row one by one like 
cur1=mydb.cursor()       # creating new cursor from start of table 
cur1.execute('select * from test')    # we can create new cursor every time after adding data inside table for fetching the same data any time after 

for i in cur1.fetchall():
    print(i)

(1234, 'dangi', datetime.date(2022, 5, 19))
(1234, 'dangi', datetime.date(2022, 5, 19))
(1234, 'dangi', datetime.date(2022, 5, 20))
(1234, 'dangi', datetime.date(2022, 5, 20))
(5678, 'thakur', datetime.date(2022, 5, 20))
(9876, 'rajput', datetime.date(2022, 5, 20))
(987, 'singh', datetime.date(2022, 5, 20))
(6554, 'hindu', datetime.date(2022, 5, 20))
(1919, 'shatreya', datetime.date(2022, 5, 20))
(101, 'hindu', datetime.date(2022, 5, 20))

In [66]:
#  if i want to select only two colums then i can use 
cur=mydb.cursor()
cur.execute('select x1,x2 from test')
for i in cur.fetchall():
    print(i)

(1234, 'dangi')
(1234, 'dangi')
(1234, 'dangi')
(1234, 'dangi')
(5678, 'thakur')
(9876, 'rajput')
(987, 'singh')
(6554, 'hindu')
(1919, 'shatreya')
(101, 'hindu')

In [67]:
# how to show all of data in proper tabular format like
#  for this we have to import liberary 'pandas' pandas is used for doing all kind fo file manupilations of all format files 
import pandas as pd

In [68]:
mydb   # this u can use for checking that connection is still there or not

In [69]:
pd.read_sql('select * from test',mydb)  # use function-- pd.read_sql('select * from test')  , also use 'select * from sachin.test'

D:\downloads\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

     x1        x2          x3
0  1234     dangi  2022-05-19
1  1234     dangi  2022-05-19
2  1234     dangi  2022-05-20
3  1234     dangi  2022-05-20
4  5678    thakur  2022-05-20
5  9876    rajput  2022-05-20
6   987     singh  2022-05-20
7  6554     hindu  2022-05-20
8  1919  shatreya  2022-05-20
9   101     hindu  2022-05-20

In [71]:
#  we can also get data of only those colums which we want only like
pd.read_sql('select x1,x2 from sachin.test',mydb)

D:\downloads\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

     x1        x2
0  1234     dangi
1  1234     dangi
2  1234     dangi
3  1234     dangi
4  5678    thakur
5  9876    rajput
6   987     singh
7  6554     hindu
8  1919  shatreya
9   101     hindu

In [77]:
# now we will dump all of data of any file into database using file itself and not in way we did above 
#  first we will save a tabular data inside a variable 'a' than i will create a csv format file to store that data like 
a=pd.read_sql('select x1,x2,x3 from sachin.test',mydb)

D:\downloads\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [78]:
#  cretaing csv format file for storing data availabe in variable 'a' like
a.to_csv('mydata.csv')

In [79]:
#  now u can check file will be created inside same folder in which this notebook is running

In [80]:
mydb   # just checking connection is still there or not ,so connectio is there

In [84]:
# creating another table in same database with name 'mydata' like
cur=mydb.cursor()
cur.execute('create table mydata(n1 int(5),n2 varchar(20),n3 date)')

ProgrammingError: 1050 (42S01): Table 'mydata' already exists

In [85]:
#  now for dumping data of mydata.csv file available in my system , i have to first read that data than write that data inside mydata table 
data=pd.read_csv('mydata.csv')   # reading the data of csv file & than storing it inside variable 'data'
data

   Unnamed: 0    x1        x2          x3
0           0  1234     dangi  2022-05-19
1           1  1234     dangi  2022-05-19
2           2  1234     dangi  2022-05-20
3           3  1234     dangi  2022-05-20
4           4  5678    thakur  2022-05-20
5           5  9876    rajput  2022-05-20
6           6   987     singh  2022-05-20
7           7  6554     hindu  2022-05-20
8           8  1919  shatreya  2022-05-20
9           9   101     hindu  2022-05-20

In [87]:
# now dumping data available inside variable 'data' into table created inside database 'sachin' like
data.to_sql('mydata',mydb)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [91]:
#  some error is comming in executing this boz there is some mismatching in parametrs b/w csv file and sql table inside sachin database

In [93]:
#  how to delete some data from table 
# deleting 1234 from column x1 like
cur.execute('delete from test where x1=1234')
mydb.commit()    # we can check in sql workbench that every row containing x1=1234  is deleted

In [95]:
# how to update table of any database 
cur.execute('''update test set x1=3211, x2='dangi' where x1=5678''')
mydb.commit()

In [96]:
#  now u can check that values are updated in table

In [97]:
# for using mongo DB we have to install 'pymongo' if shows error while importing but import is ok not showing any error than no need to install like same what we did in case of 'mysql' importing mysql connector and than setting up the connection b/w two

In [100]:
!pip install pymongo     # installing module pymongo for working with mongo DB database

Collecting pymongo
  Downloading pymongo-4.1.1-cp39-cp39-win_amd64.whl (365 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.1.1

In [3]:
import pymongo            # importing pymongo module for strating working with database 'mongo DB' 
client=pymongo.MongoClient('mongodb://localhost:27017/')
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [9]:
# first creating a database 
db_1=client['sachin_thakur']     # db_1 is just a variable and 'sachin_thakur' is name of database

In [10]:
# NOTE---- in case of mongoDB unless we insert any data inside newly created database it will now show in mongo DB compass

In [11]:
# for checking available of databases use 
client.list_database_names()

['admin', 'config', 'local']

In [12]:
# writing data inside database but in mongodb we have to make a record in a key-value kind of format 
#  but before this step we have to create a collection inside database 'sachin_thakur' collection is like creating a file or table

In [16]:
# collection 
collection=db_1['test']    # test is the name of the collection inside dATABASE with name sachin_thakur  
collection                  # inside one collection we can store any no. of data files

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'sachin_thakur'), 'test')

In [22]:
# creating a record and than inserting it inside collection 
record={'companyname':'google',
        'product':'whatsapp',
       'type':'free',
       'name': ['sachin','thakur',888],
       'edu': {'collg':'iitdehi','dep':'AM'}}

# inserting inside collection
collection.insert_one(record)

In [23]:
#  say if i add some more data in record in diff.. formats for values like list,typle,dicti.... etc we can do

In [26]:
# suppose i want to insert more than one data files inside one collection  than i can do this 
list_of_records=[{'companyname':'google',
        'product':'whatsapp',
       'type':'free',
       'name': ['sachin','thakur',888],
       'edu': {'collg':'iitdehi','dep':'AM'}},
                {'companyname':'google',
        'product':'whatsapp',
       'type':'free',
       'name': ['sachin','thakur',888],
       'edu': {'collg':'iitdehi','dep':'AM'}},
                {'test':'dfgh',
                'complex':[{'name':'sachin','list':[1,23,4,4,5,5]}]}]
                 
rec=collection.insert_many(list_of_records)     # rec is just a variable 
#  for inserting multiple data we use --insert_many not insert_one 
# when i m inserting multiple data i have to create dictionaries of same inside a list like above

In [29]:
# for getting id's of all stored data inside any collection of database i can use 
inserted_IDs=rec.inserted_ids

for idx,unique_ids in enumerate(inserted_IDs):
    print(f'{idx}.{unique_ids}')

0.62886d50c5b26a284d28fac5
1.62886d50c5b26a284d28fac6
2.62886d50c5b26a284d28fac7

In [32]:
# we can create any no of collections inside any database like we are creating new collection inside sachin_thakur
collection1=db_1['test1']
#  now creating a record of data for putting it inside new collection
list_of_newrecords=[{'companyname':'google',
        'product':'whatsapp',
       'type':'free',
       'name': ['sachin','thakur',888],
       'edu': {'collg':'iitdehi','dep':'AM'}},
                {'companyname':'google',
        'product':'whatsapp',
       'type':'free',
       'name': ['sachin','thakur',888],
       'edu': {'collg':'iitdehi','dep':'AM'}},
                {'test':'dfgh',
                'complex':[{'name':'sachin','list':[1,23,4,4,5,5]}]}]
rec1=collection1.insert_many(list_of_newrecords)

In [33]:
#  getting id's of data inside collection test1 
inserted_IDs=rec1.inserted_ids
for idx,unique_ids in enumerate(inserted_IDs):
    print(f'{idx}.{unique_ids}')

0.62887359c5b26a284d28fac8
1.62887359c5b26a284d28fac9
2.62887359c5b26a284d28faca

In [39]:
collection1.find_one()   # for getting complete data of any single file(by-default it takes data of first file of collection) from collection

{'_id': ObjectId('62887359c5b26a284d28fac8'),
 'companyname': 'google',
 'product': 'whatsapp',
 'type': 'free',
 'name': ['sachin', 'thakur', 888],
 'edu': {'collg': 'iitdehi', 'dep': 'AM'}}

In [42]:
for i in collection1.find():  # for printing data of all files(every record which is available ) inside collection one by one 
    print(i)

{'_id': ObjectId('62887359c5b26a284d28fac8'), 'companyname': 'google', 'product': 'whatsapp', 'type': 'free', 'name': ['sachin', 'thakur', 888], 'edu': {'collg': 'iitdehi', 'dep': 'AM'}}
{'_id': ObjectId('62887359c5b26a284d28fac9'), 'companyname': 'google', 'product': 'whatsapp', 'type': 'free', 'name': ['sachin', 'thakur', 888], 'edu': {'collg': 'iitdehi', 'dep': 'AM'}}
{'_id': ObjectId('62887359c5b26a284d28faca'), 'test': 'dfgh', 'complex': [{'name': 'sachin', 'list': [1, 23, 4, 4, 5, 5]}]}

In [43]:
# similarly getting every record available inside collection with name collection
for i in collection.find():
    print(i)

{'_id': ObjectId('6287b249c5b26a284d28fabe'), 'companyname': 'google', 'product': 'whatsapp', 'type': 'free'}
{'_id': ObjectId('6287b34cc5b26a284d28fac0'), 'companyname': 'google', 'product': 'whatsapp', 'type': 'free'}
{'_id': ObjectId('6287b569c5b26a284d28fac1'), 'companyname': 'google', 'product': 'whatsapp', 'type': 'free', 'name': ['sachin', 'thakur', 888], 'edu': {'collg': 'iitdehi', 'dep': 'AM'}}
{'_id': ObjectId('62886c44c5b26a284d28fac2'), 'companyname': 'google', 'product': 'whatsapp', 'type': 'free', 'name': ['sachin', 'thakur', 888], 'edu': {'collg': 'iitdehi', 'dep': 'AM'}}
{'_id': ObjectId('62886c44c5b26a284d28fac3'), 'companyname': 'google', 'product': 'whatsapp', 'type': 'free', 'name': ['sachin', 'thakur', 888], 'edu': {'collg': 'iitdehi', 'dep': 'AM'}}
{'_id': ObjectId('62886c44c5b26a284d28fac4'), 'test': 'dfgh', 'complex': [{'name': 'sachin', 'list': [1, 23, 4, 4, 5, 5]}]}
{'_id': ObjectId('62886d50c5b26a284d28fac5'), 'companyname': 'google', 'product': 'whatsapp', 'type': 'free', 'name': ['sachin', 'thakur', 888], 'edu': {'collg': 'iitdehi', 'dep': 'AM'}}
{'_id': ObjectId('62886d50c5b26a284d28fac6'), 'companyname': 'google', 'product': 'whatsapp', 'type': 'free', 'name': ['sachin', 'thakur', 888], 'edu': {'collg': 'iitdehi', 'dep': 'AM'}}
{'_id': ObjectId('62886d50c5b26a284d28fac7'), 'test': 'dfgh', 'complex': [{'name': 'sachin', 'list': [1, 23, 4, 4, 5, 5]}]}

In [45]:
# can also get any particular data of collection from every file if it is available in every file 
#  simply give that - 'key':'value' pair as an argument inside this 
for i in collection1.find({'companyname':'google'}):
    print(i)

{'_id': ObjectId('62887359c5b26a284d28fac8'), 'companyname': 'google', 'product': 'whatsapp', 'type': 'free', 'name': ['sachin', 'thakur', 888], 'edu': {'collg': 'iitdehi', 'dep': 'AM'}}
{'_id': ObjectId('62887359c5b26a284d28fac9'), 'companyname': 'google', 'product': 'whatsapp', 'type': 'free', 'name': ['sachin', 'thakur', 888], 'edu': {'collg': 'iitdehi', 'dep': 'AM'}}

In [46]:
# lets delete one document in collection1 
# first we store that key-value pair data inside a variable like
query_to_delete={'companyname':'google'}
# function for doing this
collection1.delete_one(query_to_delete)

In [50]:
#  we can also update any record value from collection 
collection1.update_one({'companyname':'FB'})

TypeError: update_one() missing 1 required positional argument: 'update'